.container2{
    background-color: lightgrey;
    width: 600px;
    border: 15px solid rgb(117, 114, 114);
    padding: 50px;
    margin: 20px;
    color: black;
  }

  label{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    margin-left: 10px;
    color: rgb(72, 117, 134);
  }
  p{
    font-weight: 500;
  }